/* Reseta margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#carrossel-container {
    width: 80%;
    overflow: hidden;
    position: relative;
}

#carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.slide {
    flex: 0 0 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.slide img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.slide img:hover {
    transform: scale(1.05);
}

.author-name {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

/* Para dispositivos menores */
@media (max-width: 768px) {
    #carrossel-container {
        width: 100%;
    }

    .slide img {
        max-width: 250px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
